<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/estilos/estilos.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap" rel="stylesheet">
    <title th:text="${titulo}"></title>
</head>

<body>
    <div class="menu-logo-login">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="Logo de GuayraCamp"></a>
        </div>
        <div class="menu">
            <ul class="lista-menu">
                <a th:href="@{/autocaravanas}">
                    <li>
                        Autocaravanas
                    </li>
                </a>
                <a th:href="@{/campers}">
                    <li>
                        Campers
                    </li>
                </a>
                <a th:href="@{/tiendas}">
                    <li>Tiendas de campaña</li>
                </a>
            </ul>
        </div>
        <div class="login">
            <div class="enlace_area_personal">
                <a th:href="@{/login}">Área personal</a>
            </div>
        </div>
    </div>

</body>

</html>